.Gameslist {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.GameItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

button {
    margin: 10px;
}